:root {
    --light-pink: #efd8d6;
    --white: #f7f3ed;
    --dark-brown: #422b23;
    --dull-grey: #9EA490;
    --light-blue: #98e9fe;
}

body {
    background-color: #f7f3ed;
}

.residents-card {
    margin: 15px;
    padding: 15px;
    background: #f7f3ed;
    border-radius: 10px;
    color: #422b23;
    display: flex;
    flex-direction: column;
}

#resident-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.resident-item {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #DBA1A2;
    color: #422B23;
    transition: 0.2s ease;
}

.resident-item:hover {
    cursor: pointer;
    background-color: #B97072;
}

.feed-header p {
    margin: 5px 0 0;
    color: #422b23;
    opacity: 0.8;
}

.post-card {
    background: #f7f3ed;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 6px 20px rgba(66, 43, 35, 0.12);
    color: #422b23;
    border-left: 6px solid #9EA490;
}

.notifications-box {
    background-color: #9EA490;
    border-radius: 16px;
    border: none;
    margin-top: 15px;
    padding: 5px;
}

.inbox-profile-box {
    display: flex;
    gap: 10px;
}

#new-initiative-button {
    width: 180px;
    height: 60px;
    font-size: 14px;
}


.button{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition: background 0.5s ease;
}
.button:hover{

}
.active#heart:before,.active#heart:after{
    background: red !important;
}
#heart {
    width: 100px;
    height: 90px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: transform 0.2s ease;
}

#heart.active{
    transform: scale(1.1);
}


#heart:before,
#heart:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transition: background 0.5s ease;
}


#heart:before {
    left: 12px;
    top: 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    top: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

