* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f3ed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 400px;
    height: 600px;
    background: #C2C6B9;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

.chat-header {
    background: #949e8d;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px;
    max-width: 70%;
    border-radius: 8px;
}

.received {
    background: #e5e7eb;
    align-self: flex-start;
}

.sent {
    background: #949e8d;
    align-self: flex-end;
}

.chat-input-area {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.chat-input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.chat-input-area button {
    background: #949e8d;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.chat-input-area button:hover {
    background: #7C846A;
}


.layout {
    display: grid;
    grid-template-columns: 320px 1fr 320px;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    background: #efd8d6;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(66, 43, 35, 0.15);
}

.sidebar-title {
    margin-top: 0;
    font-size: 18px;
    color: #422b23;
}

.sidebar-card {
    margin-top: 15px;
    padding: 15px;
    background: #f7f3ed;
    border-radius: 10px;
    color: #422b23;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #dba1a2;
    color: #422b23;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn-primary:hover {
    background: #B97072;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    background: #DBA1A2;
    color: #422B23;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    transition-duration: 0.2s;
}

.btn:hover {
    background: #B97072;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}